@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your color scheme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use custom fonts */
:root {
  --font-sans: var(--font-roboto), var(--font-open-sans), var(--font-lato), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans); /* Apply the custom font stack */
}
